---
priority: 0.5
---

{% extends "./templates/base.njk" %}

{% block body %}
<a href='/'>Home</a>

<h1>This is a nested url</h1>

<p>Notice that the url fragment matches the folder name exactly</p>
{% endblock %}