<!doctype html>
<html>
  <head>
    {% include "./partials/head-data.njk" %}

  	{% block head %}
		<!-- Defaults -->
		<title>Boilerplate</title>
  	{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    {% include "./partials/footer.njk" %}
  </body>
</html>
