---
body_title: "Boilerplate Title"
---

{% extends "./templates/base.njk" %}

{% block body %}
  <h1>{{ body_title }}</h1>
  <p>Some text here</p>
  <a href="/second-page">Second Page</a>
{% endblock %}
