---
body_title: Welcome to the Example Project
priority: 1.0
---

{% extends "./templates/base.njk" %}

{% block body %}
  <h1>{{ body_title }}</h1>
  <p>Some text here</p>
  <a href="/second-page">Second Page</a>
  <br>
  <a href="/subdirectory-example/nested">Nested Url</a>
  <br>
  <a href="/sitemap.xml">Sitemap</a>
  <br><br>
{% endblock %}